body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: black;
}
nav {
  margin-top: 20px;
  margin-bottom: 40px;
}
.nav-wrapper {
  display: flex;
  justify-content: space-around;
  margin-right: 100px;
}
.nav {
  display: flex;
  justify-content: end;
  gap: 100px;
  margin-left: 800px;
}
.log {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
}
img {
  height: 100px;
  width: 100px;
}
